In [2]:
import pandas as pd
import numpy as np

In [3]:
x = pd.DataFrame(np.random.randn(10, 5), columns=list('ABCDE'),
                  index=(["First", "Second", "Third", "Fourth", "Fifth",
                         "Sixth", "Sevent", "Eigth", "Ninth", "Tenth"]))
x

               A         B         C         D         E
First  -0.857314  2.216022  0.339554 -0.411657  0.802188
Second -0.649916 -0.419823  0.382123 -1.466055 -2.111184
Third  -1.154631 -0.102164 -0.294291  0.714605  1.336817
Fourth -1.053922 -1.347374  1.386514  0.260601 -1.024451
Fifth   0.324194 -0.347724  0.445265  1.395316 -1.079836
Sixth   1.311466  1.072764 -0.051623  0.361278 -0.177549
Sevent -1.019243 -0.745514  1.548730  0.825453  0.352321
Eigth  -0.589695  1.025177  0.838289 -1.013545 -0.818786
Ninth   0.006313 -1.231342 -0.221310 -0.706440 -1.355724
Tenth  -0.934951 -0.164007 -0.756360  2.619509 -0.959066

>>> df2 = pd.DataFrame([[5, 6], [7, 8]], columns=list('AB'))
>>> df.append(df2)
   A  B
0  1  2
1  3  4
0  5  6
1  7  8

In [4]:
# x = x.append(pd.Series([np.nan]), ignore_index = True)
# x

x.reindex(x.index.values.tolist()+['Yourindex'])

                  A         B         C         D         E
First     -0.857314  2.216022  0.339554 -0.411657  0.802188
Second    -0.649916 -0.419823  0.382123 -1.466055 -2.111184
Third     -1.154631 -0.102164 -0.294291  0.714605  1.336817
Fourth    -1.053922 -1.347374  1.386514  0.260601 -1.024451
Fifth      0.324194 -0.347724  0.445265  1.395316 -1.079836
Sixth      1.311466  1.072764 -0.051623  0.361278 -0.177549
Sevent    -1.019243 -0.745514  1.548730  0.825453  0.352321
Eigth     -0.589695  1.025177  0.838289 -1.013545 -0.818786
Ninth      0.006313 -1.231342 -0.221310 -0.706440 -1.355724
Tenth     -0.934951 -0.164007 -0.756360  2.619509 -0.959066
Yourindex       NaN       NaN       NaN       NaN       NaN